<div class="row">
  <div class="col-md-12">
    <div class="carousel slide" id="carousel-747910">
      <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-747910">
        </li>
        <li data-slide-to="1" data-target="#carousel-747910">
        </li>
        <li data-slide-to="2" data-target="#carousel-747910" class="active">
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <%= image_tag "beach_cinema.jpg", alt: "placeholder image 1", height: 500,
                  class: "d-block w-100" %>
          <div class="carousel-caption">
            <h4>
              Outdoor Cinema at the Beach
            </h4>
            <p>
              Relax to the waves while you enjoy a great movie with friends
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "istanbul_cinema.jpg", alt: "placeholder image 2", height: 500,
                  class: "d-block w-100" %>
          <div class="carousel-caption">
            <h4>
              Istanbul Outdoor Cinema
            </h4>
            <p>
              A more robust setup for larger clientelle
            </p>
          </div>
        </div>
        <div class="carousel-item active">
          <%= image_tag "moonlight_cinema.jpg", alt: "placeholder image 3", height: 500,
                  class: "d-block w-100" %>
          <div class="carousel-caption">
            <h4>
              Moonlight Cinema
            </h4>
            <p>
              A night in the park with your favorite movies
            </p>
          </div>
        </div>
      </div> <a class="carousel-control-prev" href="#carousel-747910" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-747910" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Another Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      </div>
    </div>
  </div>
</div>